/* _________________________***COLOR SCHEME***_______________________________

 GOLD: #FFD700.
 Royal Blue: #4169e1

*/

/* __________________________***SITE WIDE***__________________________________ */

* {
    font-family: "Roboto", "Lora", Verdana, sans-serif;
    box-sizing: border-box;
}

/* __________________________***HEADER***__________________________________ */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #4169e1;
}

/* __________________________***HAMBURGER***__________________________________ */

.hamburger {
    background: none;
    border: none;
    color: #4169e1;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* __________________________***NAVIGATION***__________________________________ */

.navigation {
    display: none;

}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.7rem 10px;
    color: #4169e1;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: #FFD700;
}

.navigation li#current {
    background-color: #eee;
}

h1 {
    margin-left: 10px;
    color: #4169e1;
}


/* __________________________***FOOTER***__________________________________ */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px #ccc;
    border-radius: 22px;
}

.socials img {
    width: 22px;
    height: 22px;
}

.socials a:hover {
    background-color: #FFD700;
}