@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1300px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation{
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul{
        display: flex;
    }

    .navigation a{
        border-bottom: none;
    }
}