/* h1{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: aqua;
} */

main {
    border: 1px solid #eee;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
    padding: 1rem 2rem;
}

#current-temp {

}

figcaption{
    font-size: 1rem;
}