/* _________________________***COLOR SCHEME***_______________________________

 GOLD: #FFD700.
 Royal Blue: #4169e1
 Tint grren: #d4edda;

*/

/* __________________________***SITE WIDE***__________________________________ */

* {
    font-family: "Roboto", "Lora", Verdana, sans-serif;
    box-sizing: border-box;
}

/* __________________________***HEADER***__________________________________ */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    padding-bottom: 5px;
}

header span {
    font-size: 1rem;
    color: #4169e1;
    align-self: center;
}

/* __________________________***HAMBURGER***__________________________________ */

.hamburger {
    background: none;
    border: none;
    color: #4169e1;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* __________________________***NAVIGATION***__________________________________ */

.navigation {
    display: none;

}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.7rem 10px;
    color: #4169e1;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: #FFD700;
}

.navigation li#current {
    background-color: #ddd;
}

h1 {
    font-weight: 700;
    font-family: lora;
    margin-left: 10px;
    color: #4169e1;
    text-align: center;
}

/* __________________________***MAIN***__________________________________ */

main {
    padding: 5px 0 5px 10px;
    max-width: 100%;
}

section {
    margin-bottom: 5px;
}

h2 {
    font-weight: 700;
    font-family: lora;
    color: #4169e1;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-family: lora;
    font-size: 1rem;
}

p {
    font-family: roboto;
    color: black;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.about-me,
.student-photo {
    background-color: #ddd;
    border: solid 1px #eee;
    padding: 1rem;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
}

.student-photo img {
    display: block;
    padding-bottom: 5px;
    object-fit: cover;
    height: 20rem;
}

.courses {
    display: grid;
    column-gap: 8px;
}

.course-card {
    border: solid 1px #eee;
    padding: 1rem;
    background-color: #ddd;
    border-radius: 8px;
}

.completed {
    background-color: #d4edda;
}

button{
    font-family: roboto;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 8px;
}

button:hover {
    background-color: #FFD700;
}




/* __________________________***FOOTER***__________________________________ */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px #ccc;
    border-radius: 22px;
}

.socials img {
    width: 22px;
    height: 22px;
}

.socials a:hover {
    background-color: #FFD700;
}