* {
    font-family: "Roboto", "Lora", Verdana, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-family: lora;
    margin-left: 10px;
    color: #4169e1;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: solid 1px #8a8a8a;
}

main {
    padding: 5px 0 5px 10px;
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-weight: 700;
    font-family: lora;
    margin-left: 10px;
    color: #4169e1;
    text-align: center;
    font-size: 1.4rem;
}

p {
    font-family: roboto;
    color: black;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

section {
    background-color: #ddd;
    border: solid 1px #eee;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #4169e1;
    margin-top: 10px;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 8px;
}