* {
    font-family: "Roboto", "Lora", Verdana, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-family: lora;
    margin-left: 10px;
    color: #4169e1;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: solid 1px #8a8a8a;
}

main {
    padding: 5px 0 5px 10px;
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-weight: 700;
    font-family: lora;
    margin-left: 10px;
    color: #4169e1;
    text-align: center;
    font-size: 1.4rem;
}

p {
    font-family: roboto;
    color: black;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

section {
    background-color: #ddd;
    border: solid 1px #eee;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    color: #4169e1;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 8px;
}

@media only screen and (min-width: 38rem) {

    header,
    main,
    footer {
        max-width: 1300px;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    section {
        padding: 2rem;
        margin-bottom: 20px;
    }
}